.gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    width: 100%;
    height: auto;
    padding: 1rem;
    box-sizing: border-box;
}

.gallery__item {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0.625rem 1.875rem rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
}

.gallery__item--main {
    background-image: url('../../assets/images/sushi-banner.png');
}

.gallery__item--menu {
    background-image: url('../../assets/images/menu.jpg');
}

.gallery__item--reservation {
    background-image: url('../../assets/images/reservation.jpg');
}

.gallery__item--restaurant {
    background-image: url('../../assets/images/our-restaurant.jpg');
}

.gallery__link {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #0a0b0a;
    border-top-left-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: #efe7d2;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.gallery__link-text {
    padding-left: 1rem;
}

.gallery__link-icon {
    width: 1.25rem;
    height: 1.25rem;
}

.gallery__title {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    z-index: 10;
    color: #f0ead6;
    font-size: 10vw;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 3px;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .gallery {
        grid-template-columns: 3fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 2rem;
    }

    .gallery__item {
        height: 300px;
    }

    .gallery__link {
        font-size: 1rem;
        width: 200px;
        height: 80px;
        border-top-left-radius: 2rem;
    }

    .gallery__title {
        left: 2rem;
        bottom: 2rem;
        font-size: 8rem;
    }
}

@media (min-width: 1200px) {
    .gallery {
        gap: 3rem;
        padding: 3rem;
    }

    .gallery__item {
        height: 350px;
    }

    .gallery__link {
        font-size: 1.1rem;
        width: 220px;
        height: 90px;
    }

    .gallery__title {
        font-size: 12vw;
        left: 4rem;
        bottom: 4rem;
    }
}